*, *::before, *::after{
    box-sizing: border-box;
    user-select: none;
}

body {
    align-items: center;
   
    
   
   
}


/*hide game overflow*/
.game{
    overflow: hidden;
   

}

/*character attributes*/
.character {
    bottom: 0;
    position: absolute;
    left: 1%;
}


/*obstacle view*/
.block {
    width: 100px;
    height: px;
   background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
   
    

}
/*scoring display*/
#score { 
   border-style: border-box;
   position: absolute;
   font-size: 3vmin;
   left: 70%;
   z-index: 100;
  
}
/*direction at start of game*/
.start-screen{
    position: absolute;
    font-size: 5vmin;
    top: 30%;
    left: 38%;
    
}
/*png image for start screen*/
.watch-your-step{
        display: block;
        text-align: center;
        
}
/*css class for hiding start screen display*/
.hide{
    display:none;
}

/*prompt display for gameOver*/
#prompt {
    position: absolute;
    font-size: 5vmin;
    top: 30%;
    left: 40%;

    
}
/*restart button for gameOver*/
 button{
    font-size: 3vmin;
    display: block;
    background-color: black;
    color: white;

  

}